/* Ajout éléments de mise en forme formulaire de connexion */
#divConnex,
#connex,
input,
.form a {
     display: flex;
}

#divConnex {
     flex-direction: column;
     align-items: center;
     width: 50%;
     margin: auto;
     gap: 20px;
     min-height: 550px;
     margin-top: 80px;
}

.inactif {
     display: none !important;
}

#connex {
     flex-direction: column;
     text-align: left;
}

#connex label {
     font-weight: 500;
     font-family: "Work Sans";
     font-size: 14px;
     margin: 2em 0 1em 0;
}

#connex input {
     height: 50px;
     font-size: 1em;
     border: none;
     box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
     font-family: "syne";
     width: 379px;
     padding-left: 20px;
     padding-right: 20px;
}

#btnConnex {
     font-family: 'Syne';
     font-weight: 700;
     font-size: 14px;
     color: white;
     font-size: 1.2em;
     background-color: #1D6154;
     margin: 2em auto;
     height: 36px;
     border: none;
     text-align: center;
     border-radius: 60px;
     padding-left: 40px;
     padding-right: 40px;
}

#connex a {
     font-family: "Syne";
     text-align: center;
     color: black;
     font-weight: 500;
}